
body {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

html {
    scroll-padding-top: 100px;
}

main {
    padding-top: 83px;
}

p {
    line-height: 1.4em;
}

nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(41, 38, 38);
    color: white;
    z-index: 1000;
    padding: 20px 0px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

nav ul li {
    font-size: 20px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* nav span a {
    border-style: solid;
    border-radius: 30px;
    background-color: white;
    color: #333333;
} */

nav a:hover {
    text-decoration: underline;
}

nav img {
    position: relative;
    bottom: 2px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.blakes-pfp {
    /* display: flex; */
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 249, 249);
}

.blakes-pfp img {
    max-width: 100%;
    height: auto;
    display: block;
    bottom: 0;
    margin: auto;
}

/* .blakes-pfp hr {
    display: block;
    border: 2px solid rgba(196, 196, 196, 0.466);
    padding: 20px;
    height: 4px;
    background-color: rgb(41, 38, 38);
    width: 100%;
    margin: 0;
    z-index: 1;
} */

/* .name {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 45%;
    z-index: 2;
} */

.hr-text {
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    height: 60px;
    margin-bottom: 50px;
    width: 100vw;
    overflow: visible;
}

.hr-text::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    /* border: 2px solid rgba(196, 196, 196, 0.466); */
    /* border-radius: 6px; */
    background-color: rgb(41, 38, 38);
    height: 60px;
    transform: translateY(-50%);
    z-index: 1;
}

.hr-text h1 {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 2;
}

.about-me {
    position: static;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
    margin: 20px 20px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgba(196, 196, 196, 0.466);
}

.gamevideo {
    display: none;
}

.about-me p {
    text-align:start;
    margin: 20px;
}

/* .about-me p span {
    padding-left: 2em;
} */

#about {
    scroll-margin-top: 100px; /* Adjust based on your nav height */
}

#portfolio {
    scroll-margin-top: 100px; /* Adjust based on your nav height */
}

#contact {
    scroll-margin-top: 100px; /* Adjust based on your nav height */
}

.projects {
    position: static;
    padding-top: 0;
    margin-top: 0;
    margin: 20px 20px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgba(196, 196, 196, 0.466);
}

.projects h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.projects img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    width: 50%;
}

.projects h3{
    text-align: center;
    font-style: italic;
    font-weight: normal;
}

.projects h3 span {
    text-decoration: underline;
}

.projects p {
    text-align: center;
    margin: 20px
}

.contact {
    position: static;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
    margin: 20px 20px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgba(196, 196, 196, 0.466);
}

.contact h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact p {
    position: relative;
    bottom: 10px;
    padding: 0px;
    /* font-weight: bold; */
    margin-top: 0;
}

.contact img {
    /* position: relative; */
    /* bottom: 20px; */
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.contact a {
    padding: 0;
}

.contact img:hover {
    filter: brightness(0.8);
    transform: translateY(-8px); /* smoother and doesn't cause reflow */
    transition: transform 0.2s ease, filter 0.2s ease;
}

.contact a {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 0;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(41, 38, 38);
    color: white;
    text-align: center;
    padding: 10px 0;
}

a {
    text-decoration: none;
}

button {
    background-color: #dadada;
    border: 2px solid #bebebe;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    margin-bottom: 70px;
}

@media (min-width: 768px) {
    .hr-text {
        position: relative;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        height: 60px;
        margin-bottom: 50px;
        width: 100vw;
        overflow: visible;
    }

    .hr-text::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        /* border: 2px solid rgba(196, 196, 196, 0.466); */
        /* border-radius: 6px; */
        background-color: rgb(41, 38, 38);
        height: 80px;
        transform: translateY(-50%);
        z-index: 1;
    }

    .hr-text h1 {
        font-size: 50px;
        position: absolute;
        color: rgb(255, 255, 255);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        z-index: 2;
    }

    .about-me {
        position: static;
        padding-top: 0;
        margin-top: 0;
        text-align: center;
        margin: 20px 20px;
        border-style: solid;
        border-radius: 20px;
        border-color: rgba(196, 196, 196, 0.466);
    }

    .about-me p {
        margin: 30px 50px;
    }

    .about-me h2{
        font-size: 30px;
        margin-bottom: 2px;
    }

    .projects h2 {
        font-size: 30px;
        margin: 20px;
    }

    .contact h2 {
        font-size: 30px;
    }

    .projects img {
        width: 300px;
    }

    .projects p {
        margin: 20px 50px;
    }

        nav ul li {
        font-size: 30px;
        font-weight: bold;
    }

    nav img {
        position: relative;
        bottom: 2px;
        width: 25px;
        height: 25px;
        vertical-align: middle;
    }

    nav ul {
        gap: 25px;
    }


}

@media (min-width: 1000px) {
    nav ul li {
        font-size: 30px;
        font-weight: bold;
    }

    nav img {
        position: relative;
        bottom: 2px;
        width: 30px;
        height: 30px;
        vertical-align: middle;
    }

    nav ul {
        gap: 40px;
    }

    /* .projects p {
        margin: 20px 100px;
    } */

    .project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        padding: 0 20px;
    }

    .projects {
        margin: 20px 80px;
    }
}

@media (min-width: 1200px) {

    .blakes-pfp img {
        width: 100%;
        height: auto;
        max-height: 700px;
        object-fit: cover;
        object-position: center 10%;
        display: block;
        margin: 0 auto;
    }

    .about-me p {
        margin: 30px 80px;
        line-height: 2em;
    }

    .contact a img {
        width: 100%;
    }
    
    .about-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        max-width: 1400px;
        margin: 0 auto;
        padding: 20px
    }

    .about-me {
        position: static;
        max-width: 1000px;
        margin: 20px 20px;
        text-align: center;
        border-style: solid;
        border-radius: 20px;
        border-color: rgba(196, 196, 196, 0.466);
    }

    .gamevideo {
        display: block;
    }

    .desktop-video {
        width: 80%;
        max-height: 600px;
        object-fit: cover;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .about-me, .gamevideo {
        flex: 1;
    }
}


@media (min-width: 2000px) {
    .blakes-pfp img {
        width: 100%;
        height: auto;
        max-height: 1000px;
        object-fit: cover;
        object-position: center 20%;
        display: block;
        margin: 0 auto;
  }
}

@media (max-width: 389px) {
    nav {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgb(41, 38, 38);
        color: white;
        z-index: 1000;
        padding: 22px 0px;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }

    nav ul li {
        font-size: 15px;
        font-weight: bold;
    }

    .name {
        font-size: 25px;
    }
}